<h1>
    <%= @article.title %>
</h1>
<div class="body">
    <%= @article.body %>
</div>
<%= link_to "Edit Article", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article),method: :delete, class: "btn btn-danger btn-lg pull-right" %>
